<html>
<head>
    <title> trip for "Sensor X" over time</title> 
</head>    
<body>
    <h1> From a given trip, give me all the data for "Sensor X" over time</h1>
    <div class="wrappers">
        <select id="sensor">
          <option value="1">select sensor</option>
          <option value="1">sensorName</option>
          <option value="1">dataPoints</option>
          <option value="1">dateTime</option>
          <option value="1">tripId</option>
        </select>
    </div>
    <script>
        
       const sensor=document.getElementById("sensor");
       sensor.addEventListener("change",function(){
       const selectedOption=sensor.options[sensor.selectIndex].value;
       console.log("select option value",selectedOption);
       }); 

    </script>

      
    <table border="1"><br/><button type="button"><a href="{{request.path}}?export=True">Click Me!</a></button>
        <tr>
            <th> sensorName</th>
            <th> dataPoints</th>
            <th> dateTime</th>
            <th> tripId</th>
        </tr>
        {% for s in data %}
            <tr>
                <td>{{s.sensorName}}</td>
                <td>{{s.dataPoints}}</td>
                <td>{{s.dateTime}}</td>
                <td>{{s.tripId}}</td>                 
            </tr>
      
        {% endfor %}
    </table><br>
         
</body>    
</html>