{% load static %}
<html>
<head>
<title> Boat Sensor Data</title>
<link rel="stylesheet" href="{% static 'style.css' %}"/> 
</head>
<body></br>
<h3>Boat Sensor Data</h3><br/><br/>
<div class="module">
<h1>sensor data-1</h1><br/>
<a href="get_sensor_data/"><button type="button" name="button">get_sensor_data</button></a><br/><br/>
<a href="timespan/"><button type="button" name="button">timespan</button></a><br/><br/>
<a href="sensor_data"><button type="button" name="button">sensor_data</button></a><br/><br/>
</div>

<div class="module">
<h1> sensor data-2</h1><br/>
<a href="sensor_data_avg"><button type="button" name="button">sensor_data_avg</button></a><br/><br/>
<a href="boatsensor_data_avg"><button type="button" name="button">boatsensor_data_avg</button></a><br/><br/>
<a href="trip_sensors/"><button type="button" name="button">trip_sensors</button></a><br/><br/>
</div>
</body>
</html>