<html>
<head>
    <title>trip of "Sensor X" throughout the entire trip</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
  
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
    $(document).ready( function () {
        $('#myTable').DataTable();
    } );
    </script>
    

</head>
<body>
    <h1>From a given trip, give the sum of "Sensor X" throughout the entire trip</h1> 
    <table id="myTable" border="1">
        <tr>
            
            <th> index0_sum</th>     
            <th> index1_sum</th>
            <th> index2_sum</th>
        </tr>
        {% for s in mk %}

            <tr>
                <td>{{s.index0_sum}}</td>
                <td>{{s.index1_sum}}</td>
                <td>{{s.index2_sum}}</td>                 
            </tr>
      
        {% endfor %}
    </table><br>
    <button type="button"><a href="{{request.path}}?export=True">Click Me!</a></button> 
      
</body>  
</html>